*{margin: 0; padding: 0;}
body{width: 100%; margin: 0 auto;}

#header{width: 100%;}

#line{width: 100%; height: 5px; background-color: grey;}
#all{width: 1000px; margin: 0 auto;}
#left{float: left;}
#right{float:right;}

#menu{width:600px;margin-top: 20px;}
#menu li {width:100px;display:inline-block;list-style-type:none;text-align:center;}
#menu li a{display:inline-block;width:170px;text-decoration:none;color:black;}
#menu li a:hover{color:red;}

.border1{border:1px solid black;border-collapse:collapse;}